@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* color-scheme: light dark; */
}


*{ padding: 0; margin: 0; box-sizing: border-box;}
/* body { font-family: 'Plus Jakarta Sans', sans-serif !important; transition: all 0.3s linear; } */
/* body {font-family: 'Comic Neue', cursive; transition: all 0.3s linear; } */
body {font-family: 'Roboto', sans-serif; transition: all 0.3s linear; }
html { scroll-behavior: smooth; }

.app-container { max-width: 1920px; margin: 0 auto; position: relative;}
.ff-os { font-family: 'Open Sans', sans-serif; }
.orange-text { color: #f75a2c !important; }
.orange-bg { background: #f75a2c; }
.montserrat { font-family: 'Montserrat', sans-serif !important ;}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: inherit !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

::-webkit-scrollbar { width: 5px;}
::-webkit-scrollbar-track { box-shadow: 0; border-radius: 5px;}
::-webkit-scrollbar-thumb { background: #444444; border-radius: 5px;}

.filter-options-list::-webkit-scrollbar { width: 5px;}
.filter-options-list::-webkit-scrollbar-track { box-shadow: 0; border-radius: 5px;}
.filter-options-list::-webkit-scrollbar-thumb { background: #f75a2c; border-radius: 5px;}

.bg { color: #fbfbfb;}
/* .subscribe-button:is(:hover, :focus) {
  outline-offset: 3px !important;
 } */

/* HOME */

.header-section { z-index: 999; }
.is-sticky { position: sticky; position: -webkit-sticky; top: 0; left: 0; right: 0; width: 100%; z-index: 999; box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%); transition: 0.4s; animation: 500ms ease-in-out 0s normal none 1 running fadeInDown; padding: 11px 40px; -webkit-backdrop-filter: blur(20px); backdrop-filter: blur(20px); background-color: rgba(white, 0.5);}

.hover-underline-animation:hover { color:#f75a2c ; transition: 0.3s;}
.hover-underline-animation { display: inline-block; position: relative; color:#c3c3c3 ;}
.hover-underline-animation::after { content: ''; position: absolute; width: 100%; transform: scaleX(0); height: 2px; bottom: 0; left: 0; background-color: #f75b2cc7; transform-origin: bottom right; transition: transform 0.3s ease-out;}
.hover-underline-animation:hover::after { transform: scaleX(1); transform-origin: bottom left;}

.hover-underline-animationII:hover { color:#f75a2c ; transition: 0.3s;}
.hover-underline-animationII { display: inline-block; position: relative; color:#c3c3c3 ;}
.hover-underline-animationII::after { content: ''; position: absolute; width: 100%; transform: scaleX(0); height: 2px; bottom: 0; left: 0; background-color: #f75b2cc7; transform-origin: bottom right; transition: transform 0.3s ease-out;}
.hover-underline-animationII:hover::after { transform: scaleX(1); transform-origin: bottom left;}

.active-hero-text { color:#f75a2c; font-weight: bold; border-left: 2px solid #f75a2c;}
.active-hero-text-before { border-left: 2px solid transparent; }

.text-card-container { position: relative; width: 100%; height: 100%;}
.text-card { position: absolute; top: -60px; left: 0; width: 100%; height: 100%; transition: all 0.75s ease; opacity: 0; transform: scale(1) translateY(50px); z-index: -1;}
.text-card.active { opacity: 1; transform: scale(1) translateY(0); z-index: 1;}
.text-card.next {transform: scale(0.8) translateY(100px);}
.text-card.prev {transform: scale(0.8) translateY(-100px);}

.filter-search { position: relative; display: inline-block;}
.filter-search input { padding: 5px 10px; background-color: #fafafa; border-top-left-radius: 50px; border-bottom-left-radius: 5px; color: #333; width: 100px; outline: none; border: none; transition: width 0.3s ease-in-out;}
.filter-search input.expanded { width: 250px;}
.filter-search ul { position: absolute; top: 100%; left: 0; z-index: 1; list-style: none; padding: 0; margin: 4px 0 0; background-color: #fff; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); width: 100%; max-height: 200px; overflow-y: auto;}
.filter-search li { padding: 8px; cursor: pointer; transition: background-color 0.3s ease-in-out;}
.filter-search li:hover { background-color: #f0f0f0;
}

/* hero slides start */

/* Slideshow */
.slideshow { margin: 0 auto; overflow: hidden; width: 100%; max-width: 700px; position: relative;}
.slideshowSlider { white-space: nowrap; transition: ease 1000ms;  }
.slide { display: inline-block; max-width: 700px;}
.slide > img { width: 100%;}
.slideshowDots { text-align: center; margin-top: -30px; position: relative; }
.slideshowDot { display: inline-block; height: 10px; width: 10px; border-radius: 50%; margin: 0 15px; cursor: pointer; background-color: #eae7e7;}
.slideshowDot.active { background-color:#f75a2c;}

/* slideshow2 */
.card { border-radius: 8px; box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1); width: 420px; height:0; transition: all 0.75s ease; opacity: 0; position: absolute; transform: scale(0.85) translateY(50px);}
.card > img { height: 250px;}
.card.active { opacity: 1; transform: scale(1) translateY(0); box-shadow: 0 30px 20px rgba(0, 0, 0, 0.2); z-index: 1;}
.card.next { opacity: 1; z-index: 0;}
.card.prev { transform: scale(1.1) translateY(-50px); z-index: 2; opacity: 0; visibility: hidden;}

/* hero slides end */

/* BRANDS */
.marquee { position: relative; width: 100vw; max-width: 100%; height: 206px; overflow: hidden;  }
.track { position: absolute; white-space: nowrap; }
.brand-logo { width: 150px; display: inline-block;}
.discount-strike { text-decoration-color: #f75a2c !important; text-decoration: line-through;}


/* btn animation - linear motion */
@keyframes linearMotion { 0% { transform: translateX(0); } 50% { transform: translateX(10px);} 100% { transform: translateX(0); }}
.animation-linear { animation: linearMotion 2s linear infinite;}


/* FEATURED PRODUCTS */

/* swiper styless update */
.swiper-button-next,
.swiper-button-prev { background-color: #00000000 !important; opacity: 0.8; transition: 0.3s; background-position: center; background-size: 26px; background-repeat: no-repeat; padding: 16px; width: 40px; height: 40px; border-radius: 5px; border: 1px solid black;}
/* .swiper-button-prev { background-color: #f75a2c !important; opacity: 0.8; transition: 0.3s; background-position: center; background-size: 26px; background-repeat: no-repeat; padding: 16px; width: 40px; height: 40px; border-radius: 100%;} */
.swiper-button-prev { background-image: url("../assets/svg/chev_left.svg");}
.swiper-button-next { background-image: url("../assets/svg/chev_right.svg");}
.swiper-button-next::after,
.swiper-button-prev::after {content: "";}
.swiper-button-prev:hover,
.swiper-button-next:hover { opacity: 0.5; transition: 0.3s}
.swiper-button-next, .swiper-button-prev { position: relative; float: right; clear: revert; margin-bottom: 48px; margin-top: -48px;}
.swiper-button-prev { left: -60px; bottom: -7px;}
.swiper-button-next { right: -35px; bottom: -7px;}







/* PRODUCTS PAGE */
/* price range slider*/
.range-slider { position: relative; width: 100%; opacity: 0.9;}
.range-slider_input { width: 100%; position: absolute; top: 50%; z-index: 3; cursor: pointer; transform: translateY(-50%); -webkit-appearance: none; appearance: none; width: 100%; height: 4px; opacity: 0; margin: 0;}
.range-slider_input::-webkit-slider-thumb { -webkit-appearance: none; appearance: none; width: 20px; height: 20px; cursor: pointer; border-radius: 50%; opacity: 0; }
.range-slider_input::-moz-range-thumb { width: 20px; height: 20px; cursor: pointer; border-radius: 50%; opacity: 0}
.range-slider_thumb { height: 30px; width: 30px; border: 2px solid #646363; border-radius: 50%; position: absolute; left: 0; top: 50%; transform: translateY(-50%); background-color: #f4f4f4; display: flex; justify-content: center; align-items: center; font-size: 11px; font-weight: bold; color: #303030; z-index: 2;}
.range-slider_line { height: 4px; width: 100%; background-color: #e1e1e1; top: 50%; transform: translateY(-50%); left: 0; position: absolute; z-index: 1; cursor: pointer;}
.range-slider_line-fill { position: absolute; height: 0.5vmin; width: 0; background-color: #303030; cursor: pointer;}


/* pager slide */
.page-cont { display: flex; flex-direction: column; overflow: hidden; width: 100%;}
.anime-page { flex-direction: row; direction: ltr; will-change: transform; min-height: 0; flex: 1; display: flex;}
.pagoo { display: flex; flex-direction: column; width: 100%; align-self: stretch; justify-content: flex-start; flex-shrink: 0; overflow: hidden; outline: none;}

/* tab-group */
.tab-nav { all: unset; white-space: nowrap; text-transform: capitalize; box-sizing: border-box; text-align: center; -webkit-font-smoothing: antialiased; text-rendering: optimizelegibility; user-select: none; outline: none; -webkit-tap-highlight-color: transparent; box-shadow: none; cursor: pointer; text-decoration: none; border-width: initial; border-style: none; border-color: initial; border-image: initial; padding: 10px 0; box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important; -webkit-font-smoothing: antialiased; text-size-adjust: none; line-height: 1.5; font-size: 16px; font-weight: 600; color: rgb(95, 104, 113); margin: 0px; overflow: hidden; border-bottom: 4px solid rgba(0, 0, 0, 0);}
.tab-nav-active { margin-top: 10px;  color: #000000 !important;}
.marky { height: 4px; background: none;}
.marky-active { height: 4px; width: 100%; margin-top: 10px; border-top-right-radius: 8px; border-top-left-radius: 8px; background: #4f4d4d;}


.update-closing { z-index: 9 !important; position: relative;}
.sidebar-wrapper { box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; height: 100vh !important; position: fixed !important; background: #03061f45;}
.filterbar-wrapper { box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; z-index: 999 !important;}
.logo-main { z-index:1 !important;}

.slide-in { animation: slideIn 0.3s ease;}
@keyframes slideIn { 0% { transform: translateX(100%); } 100% { transform: translateX(0);}}

/* auth forms */
.input-container { height: 50px; position: relative; width: 100%; margin-bottom: 50px;}
.input-class { background-color: transparent; border-radius: 5px; border: 0; box-sizing: border-box; border:1px solid #030217; height: 100%; outline: 0; padding: 4px 20px 0; width: 100%;}
.input-class:focus { border: 1px solid #e8b72f;}
.password-input { position: relative; border: 1px solid #000000; display: flex; align-items: center; justify-content: space-between; border-radius: 5px; border: 0; box-sizing: border-box;  border: 1px solid #030217; height: 50px; width: 100%; padding:0 20px ;}
.password-input > input { background-color: transparent; border-radius: 5px; border: 0; box-sizing: border-box; border:1px solid #030217; height: 100%; outline: 0; padding: 4px 20px 0; width: 100%; }
.password-input > .input-class:focus { border: 1px solid #e8b72f;}
.input-class-p { background-color: transparent; height: 100%; border: 0; outline: 0; padding:0; width: 100%; height: 45px; width: 220px; }
.chp { height: 40px !important; }


/* loader comp */
.loading-icon { --speed-of-animation: 0.9s; --gap: 6px; --first-color: #4c86f9; --second-color: #49a84c; --third-color: #f6bb02; --fourth-color: #f6bb02; --fifth-color: #2196f3; display: flex; justify-content: center; align-items: center; width: 100px; gap: 6px; height: auto;}
.loading-icon span { width: 2px; border-radius: 5px; height: 20px; background: var(--first-color); animation: scale var(--speed-of-animation) ease-in-out infinite;}
.loading-icon span:nth-child(2) {background: var(--second-color);animation-delay: -0.8s;}
.loading-icon span:nth-child(3) {background: var(--third-color);animation-delay: -0.7s;}
.loading-icon span:nth-child(4) {background: var(--fourth-color);animation-delay: -0.6s;}
.loading-icon span:nth-child(5) {background: var(--fifth-color);animation-delay: -0.5s;}
 @keyframes scale { 0%, 40%, 100% { transform: scaleY(0.05); }20% { transform: scaleY(1);}}


.gen-btn-class { background: #010101 !important; color: #fff !important; position: relative; overflow: hidden; transition: 0.4s;}
.gen-btn-class:after{ content: ''; position: absolute; top: -50%; right: -50%; bottom: -50%; left: -110%; background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0)); transform: rotateZ(60deg) translate(-5em, 7.5em);}
.gen-btn-class:hover::after, button:focus::after { animation: gen-btn-class 1s forwards;}
@keyframes gen-btn-class { 100% { transform: rotateZ(60deg) translate(1em, -9em); left: 100%; }}



@keyframes shimmer { from { background-position: 100% 100%;} to { background-position: 0 0;}} 
.product-image { 
  width: 100%; height: 250px;background-image: linear-gradient(90deg, #d6d6d6 0%, #d6d6d6 40%, #f2f2f2 50%, #f2f2f2 55%, #d6d6d6 65%, #d6d6d6 100%);
 background-size: 400%; animation: shimmer 1000ms infinite
}

.round-rainbow-button { background: linear-gradient(to right, red, orange,blue, yellow, green, indigo, violet, pink, cyan);}
.round-rainbow-button:hover { animation: rainbow 4s linear infinite;}
@keyframes rainbow { 0% {   background-position: 0% 50%; } 100% {   background-position: 100% 50%; }}





.pagination-controls:disabled {
  /* background: gray !important; */
  cursor: not-allowed;
}

.page-link {
  position: relative;
  display: inline-flex;
  /* border: 1px solid #dee2e6;
  background-color: #ffffff; */
  padding: 4px 16px;
  color: #545F7D;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  cursor: pointer;
}


.page-link:hover,
.page-link:focus {
  color: red;
}

.page-link:focus {
  z-index: 3;
}

.page-link.active {
  z-index: 2;
  /* color: #f75a2c; */
  color: #000;
  font-weight: 800;
  border-bottom:2px solid #f75a2c;
}

.page-link.disabled {
  color: #6c757d;
  pointer-events: none;
}




.zedder { position: relative; z-index: 99999 !important; }
.checkbox-wrapper-19{box-sizing:border-box;--background-color:#fff;--checkbox-height:16px}@-moz-keyframes dothabottomcheck-19{0%{height:0}100%{height:calc(var(--checkbox-height)/2)}}@-webkit-keyframes dothabottomcheck-19{0%{height:0}100%{height:calc(var(--checkbox-height)/2)}}@keyframes dothabottomcheck-19{0%{height:0}100%{height:calc(var(--checkbox-height)/2)}}@keyframes dothatopcheck-19{0%{height:0}50%{height:0}100%{height:calc(var(--checkbox-height)*1.2)}}@-webkit-keyframes dothatopcheck-19{0%{height:0}50%{height:0}100%{height:calc(var(--checkbox-height)*1.2)}}@-moz-keyframes dothatopcheck-19{0%{height:0}50%{height:0}100%{height:calc(var(--checkbox-height)*1.2)}}.checkbox-wrapper-19 input[type=checkbox]{display:none}.checkbox-wrapper-19 .check-box{height:var(--checkbox-height);width:var(--checkbox-height);background-color:transparent;border:calc(var(--checkbox-height)*.1) solid #000;border-radius:5px;position:relative;display:inline-block;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;-moz-transition:border-color ease 0.2s;-o-transition:border-color ease 0.2s;-webkit-transition:border-color ease 0.2s;transition:border-color ease 0.2s;cursor:pointer}.checkbox-wrapper-19 .check-box::before,.checkbox-wrapper-19 .check-box::after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;position:absolute;height:0;width:calc(var(--checkbox-height)*.2);background-color:#f75a2c;display:inline-block;-moz-transform-origin:left top;-ms-transform-origin:left top;-o-transform-origin:left top;-webkit-transform-origin:left top;transform-origin:left top;border-radius:5px;content:" ";-webkit-transition:opacity ease 0.5;-moz-transition:opacity ease 0.5;transition:opacity ease 0.5}.checkbox-wrapper-19 .check-box::before{top:calc(var(--checkbox-height)*.72);left:calc(var(--checkbox-height)*.41);box-shadow:0 0 0 calc(var(--checkbox-height)*.05) var(--background-color);-moz-transform:rotate(-135deg);-ms-transform:rotate(-135deg);-o-transform:rotate(-135deg);-webkit-transform:rotate(-135deg);transform:rotate(-135deg)}.checkbox-wrapper-19 .check-box::after{top:calc(var(--checkbox-height)*.37);left:calc(var(--checkbox-height)*.05);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}.checkbox-wrapper-19 input[type=checkbox]:checked+.check-box,.checkbox-wrapper-19 .check-box.checked{border-color:#f75a2c}.checkbox-wrapper-19 input[type=checkbox]:checked+.check-box::after,.checkbox-wrapper-19 .check-box.checked::after{height:calc(var(--checkbox-height)/2);-moz-animation:dothabottomcheck-19 0.2s ease 0s forwards;-o-animation:dothabottomcheck-19 0.2s ease 0s forwards;-webkit-animation:dothabottomcheck-19 0.2s ease 0s forwards;animation:dothabottomcheck-19 0.2s ease 0s forwards}.checkbox-wrapper-19 input[type=checkbox]:checked+.check-box::before,.checkbox-wrapper-19 .check-box.checked::before{height:calc(var(--checkbox-height)*1.2);-moz-animation:dothatopcheck-19 0.4s ease 0s forwards;-o-animation:dothatopcheck-19 0.4s ease 0s forwards;-webkit-animation:dothatopcheck-19 0.4s ease 0s forwards;animation:dothatopcheck-19 0.4s ease 0s forwards}


/* .custum-file-upload {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed #cacaca;
  background-color: rgba(255, 255, 255, 1);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
} */


















/* MEDIA QUERIES */
@media screen and (min-width: 1600px) {
  .currated-image { height: 100%;}
}
@media screen and (max-width: 1600px) {
.slideshow { margin: 0 auto; overflow: hidden; width: 100%; max-width: 450px; position: relative; background: #000; }
.slide { display: inline-block; max-width: 450px;}
}

@media screen and (max-width: 767px) {
  .brand-logo { width: 75px;}
  .img-flexor { all: unset;}
  .is-sticky { padding: 16px 16px;}
  .marquee { height: 150px; }
}

@media screen and (max-width: 480px) {
  .cartbtn-fix {position: absolute;width: 100%;bottom: 8px;left:0 ; }
  .swiper-button-next,
  .swiper-button-prev { background-size: 16px; padding: 10px; width: 16px; height: 16px;}
  .swiper-button-prev { left: -40px; bottom: -7px;}
  .swiper-button-next { right: 0px; bottom: -7px;}
  .swiper-button-next, .swiper-button-prev { margin-bottom: 0px;}
  .page-link { padding: 4px 10px; font-size: 14px; }
}
