/* @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */

  /* color-scheme: light dark; */
}
*{ padding: 0; margin: 0; box-sizing: border-box;}
/* body { font-family: 'Plus Jakarta Sans', sans-serif !important; transition: all 0.3s linear; } */
/* body {font-family: 'Comic Neue', cursive; transition: all 0.3s linear; } */
body {font-family: 'Roboto', sans-serif; transition: all 0.3s linear; }
.app-container { max-width: 1920px; margin: 0 auto;}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: inherit !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.onyx { background: #2E3532; color: #2E3532;}
.resda-green { background: #7E9181; color: #7E9181;}
.french-gray { background: #C7CEDB; color: #C7CEDB;}
.cadet-gray { background: #A0AAB2; color: #A0AAB2;}
.batten-pink { background: #94849B; color: #94849B;}